# Projeto 1-ciência dos dados
## Laura Perim

**Pergunta a ser respondida:**


A entrada dos países membros da organização Mercosul, fundada em 1991, fortaleceu a economia desses países realmente?

 **Explicação da hipótese e mecanismo**
 
  A entrada dos países contribui para um incremento na economia e investimentos.
  
  site de referência:http://www.mercosul.gov.br/saiba-mais-sobre-o-mercosul

**Referencia dos dados dos países**


https://data.worldbank.org/indicator/TX.VAL.TECH.MF.ZS

https://data.worldbank.org/indicator/NY.GDP.DEFL.KD.ZG

https://data.worldbank.org/indicator/NE.GDI.TOTL.ZS

In [7]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [16]:
a=pd.read_excel('investments_percent_of_gdp.xlsx').set_index("country")
b=pd.read_excel('high_technology_exports_percent_of_manufactured_exports.xlsx').set_index("country")
c=pd.read_excel('inflation_annual_percent.xlsx').set_index("country")
linhas=[ "Brazil","Argentina","Paraguay","Venezuela","Uruguay","Chile","Peru","Spain","United States","Syria","United Kingdom","Canada","Bolivia"]
colunas=[2016,1996]

a_2016 = a.loc[linhas,colunas]
b_2016 = b.loc[linhas,colunas]
c_2016 = c.loc[linhas,colunas]

a_2016.rename(columns={2016: 'GDP_2016'}, inplace=True)
b_2016.rename(columns={2016: 'high tec_2016'}, inplace=True)
c_2016.rename(columns={2016: 'inflation_2016'}, inplace=True)
a_2016.rename(columns={1996: 'GDP_1996'}, inplace=True)
b_2016.rename(columns={1996: 'high tec_1996'}, inplace=True)
c_2016.rename(columns={1996: 'inflation_1996'}, inplace=True)





data = pd.merge(a_2016, b_2016, left_index=True, right_index=True)
data = pd.merge(data, c_2016, left_index=True, right_index=True)
data

,GDP_2016,GDP_1996,high tec_2016,high tec_1996,inflation_2016,inflation_1996
country,,,,,,
Brazil,15.4,17.3,13.40,6.21,8.140,18.5000
Argentina,17.0,18.1,8.79,5.59,40.100,-0.0524
Paraguay,18.0,22.1,7.25,1.27,5.280,11.4000
Venezuela,NaN,16.6,NaN,2.52,NaN,116.0000
Uruguay,17.8,15.2,9.71,2.66,7.350,26.4000
Chile,22.2,27.8,6.95,3.66,4.730,3.3700
Peru,22.1,22.6,4.22,5.82,2.880,9.6900
Spain,20.5,22.1,6.98,7.60,0.283,3.4700
United States,19.7,21.6,20.00,30.80,1.280,1.8300
Syria,NaN,23.9,NaN,NaN,NaN,15.9000
United Kingdom,17.0,18.8,21.80,26.70,1.970,4.0800
Canada,23.2,19.0,12.90,15.80,0.612,1.7400
Bolivia,21.1,16.2,4.46,38.20,-1.350,11.6000